<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities">

  <Identity
    Name="BannerlordModer.BannerlordModEditor"
    Publisher="CN=BannerlordModer"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="a3f5c8d2-7e4b-4f1a-9c6d-8b2e3f4a5c6d" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Bannerlord Mod Editor</DisplayName>
    <PublisherDisplayName>BannerlordModer</PublisherDisplayName>
    <Logo>Assets\icon.png</Logo>
    <Description>A professional Mod editor for Mount &amp; Blade II: Bannerlord</Description>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
    <Resource Language="en-US" />
    <Resource Language="zh-CN" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="BannerlordModEditor.exe"
      EntryPoint="BannerlordModEditor.UI.App">
      <uap:VisualElements
        DisplayName="Bannerlord Mod Editor"
        Description="A professional Mod editor for Mount &amp; Blade II: Bannerlord"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\icon-150.png"
        Square44x44Logo="Assets\icon-44.png">
        <uap:DefaultTile Wide310x150Logo="Assets\icon-310.png" Square310x310Logo="Assets\icon-310.png" />
        <uap:SplashScreen Image="Assets\splash.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="xml">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="application/xml">.xml</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="bannerlordmodeditor">
            <uap:DisplayName>Bannerlord Mod Editor Protocol</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="unvirtualizedResources" />
  </Capabilities>

</Package>
